<h1>Login</h1>

<form action="login" method="post">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></p>
    <button type="submit">Submit</button>
</form>
<p>@ViewBag.incorrect</p>
<a href="/">Need to Register?</a>
